<template name="blankLayout">

  <div class="row border-bottom">
	    <nav class="navbar navbar-fixed-top navbar-custom" role="navigation" style="margin-bottom: 0; border-bottom: none !important;">
	            <div class="navbar-header">
	              <a id="navbar-minimalize" class="minimalize-styl-2 btn btn-primary " href="#">
	              <label style="text-align:center">Shop Local Club Card</label>
	              </a>
	            </div>
	     </nav>
    </div>
    {{> yield}}
</template>