<template name="notFound">
    <!-- <div class="template-not-found white" style="background-color:#2F4050;height:100%;widht:100%"> -->
    <!-- <div class="middle-box text-center animated fadeInDown"> -->
        <div class="container text-center">
            <div class="text-center m-lg p-lg">
                <h1>Route Not Found</h1>
                <p>
                    You can go back to main page (Home)
                </p>
                <a href="{{pathFor route='Home'}}" class="btn btn-sm btn-primary">Go to Home</a>
            </div>
        </div>
    <!-- </div> -->
</template>